<h1>Sample single page</h1>

<h3><%= @page.title %></h3>
<p><%= @page.content %></p>

<hr />

<%= link_to "Edit", edit_page_path(@page) %>
<%= link_to "Destroy", page_path(@page), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
} %>

<h2>Comments</h2>

<!-- The render method iterates over the @page.comments collection -->
<%= render @page.comments %>

<h2>Add a comment:</h2>
<!-- Rails is smart enough to spot the forward slash in that string -->
<%= render 'comments/form' %>
